
body{
    background-color:#FFFEF8 ;
}
h1{
    color: #1D6154;
}
.formulaire{
    display: flex;
    justify-content: center;
    gap: 2;
}
.titre{
    margin-bottom: 50px ;
    text-align: center;
}
input{
    width: 379px;
    height: 51px;
    margin: 10px 0;
    border: none;
    background-color:#FFFFFF ;
}
label{
    font-family:"work-sans", sans-serif ;
    font-size: 14px;
    
}
.lien{
    display: flex;
    justify-content: center;
}
